.idea/
.idea/*

lib/
lib/*

lib64

*.py[cod]
*.pyc

bin/
bin/*

share/
share/*

local/
local/*

include/
include/*

env/

/templates/
/templates/*

/static/
/static/*

spare_img/*.jpeg

__pycache__/
__pycache__/*

pip-selfcheck.json

include/
include/*

automium_web.wsgi
