{% extends "base.html" %}

{% block content %}


<h1>Добавить новую подсеть</h1>
<form enctype=multipart/form-data method=POST name="add_network">
    {{form.hidden_tag()}}
    <p><span class="required">*</span>
        Наименование подсети<br>
        {{form.name(size=69)}}<br>
    </p>

    <p> <span class="required">*</span>
        Маска <br>
        {{form.cidr}}
    </p>
    <p> <span class="required">*</span>
        Подсеть <br>
        {{form.net}}
    </p>

    <p>
        Комментарий <br>
        {{form.description(cols="71", rows="5")}}
    </p>
    <br>
    <label>
     {{ form.select_types(id="checkbox",class_="checkbox", value="1") }}
    <span class="checkbox-custom"></span>
    <span class="label">Cерверное оборудование</span>
     </label>
     <br>
    <p> <br> <input type="submit" value="Добавить"></p>
</form>

{% endblock %}

