{% extends "base.html" %}

{% block content %}

<style type="text/css">
 body{font:medium Open Sans,Arial,sans-serif}
 .ui-autocomplete {
    border-radius: 0px;
}
.ui-autocomplete.source:hover {
    background: #454545;
}

.ui-menu .ui-menu-item a{
    height:24px;
    font-size:16px;}

span.required {
    color: red;
}
</style>

<h1>Добавить новую подсеть</h1>
<form enctype=multipart/form-data method=POST name="add_network">
    {{form.hidden_tag()}}
    <p><span class="required">*</span>
        Наименование оборудования<br>
        {{form.name(size=69)}}<br>
    </p>

    <p> <span class="required">*</span>
        Маска <br>
        {{form.cidr}}
    </p>
    <p> <span class="required">*</span>
        Подсеть <br>
        {{form.net}}
    </p>

    <p>
        Комментарий <br>
        {{form.description(cols="71", rows="5")}}
    </p>
    



    <p><input type="submit" value="Добавить"></p>
</form>

{% endblock %}

