<!DOCTYPE html>
<html lang="en">
<head>
    <title>IT-Base Equipment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename = 'css/base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


    <div><h1>IT-Base Equipment</h1>


<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a href="/index">Главная</a></li>
  <li><a href="/all_spares">Запчасти и расходники</a>
    <ul>
      <li><a href="/add_spares">Добавить</a></li>
      <li><a href="/all_spares">Просмотреть список</a></li>
    </ul>
  </li>
  <li><a href="/">Оборудование</a>
    <ul>
    <li><a href="/">Добавить</a></li>
    <li><a href="/">Просмотреть список</a></li>
    <li><a href="/">Изменить</a></li>
    <li><a href="/">Удалить</a></li>
    </ul>
  </li>

</ul>
</nav>

     <br>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissable fade in" >
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }} </br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

</body>
</html>