{% extends "base.html" %}
<h1>Сети "МАТОРИН"</h1>

{% block content %}


<link href="{{ url_for('static', filename = 'css/networks_tables.css') }}" rel="stylesheet">


<div class="content">
 <div class="search">   
<form method=POST id="SearchForm">
{{form.search}}
<input type="submit" value="Найти"></input>
</form>
</div>
    <div class="tables">
    {% for network in networks %}   
        <table width="50%" >
            <col width="30%">
            <col width="30%">
            <col width="10%">

            <tr > <th colspan="3"> {{network.name}} </th> </tr>
           
                <tr>
                        <td> <a href="{{ url_for('network', id = network.id) }}">{{network.net}}/{{network.cidr}} </a> </td>
                        <td> {{network.description}} </td>                   
                        <!--<td> <form action="" method="post"> <input type="submit" class="button" name="{{ network.id }}" value="Редактировать")"></input> </form> </td>-->
                        <td>  <form action="" method="post"><input type="submit" class="button" name="{{ network.id }}" value="Удалить" onclick="return confirm('Применить?!')"></input></form></td>
                </tr>

        </table>
        <br>
    {% endfor %}
    </div>

</div>

{% endblock %}
