{% extends "base.html" %}

{% block content %}

 <style>

   #form {
        float: left;
        margin-left: 10px;
   }
   #image{
        float: right;
        margin-right:  50px;
   }
  </style>

<meta http-equiv="Cache-Control" content="no-cache">
<h1>{{form.name.data}}</h1>    
   <div id=form>
        <form enctype=multipart/form-data method=POST >
            {{form.hidden_tag()}}
        
            Наименование оборудования<br>
            {{form.name(size=69)}}<br>
        <p>
            Тип оборудования <br>
            {{form.type}}
        </p>
        <p>
            Местоположение <br>
            {{form.location(size=69)}}
        </p>
        <p>
            Количество (число)<br>
            {{form.count}}
        </p>
        <p>
            Комментарий <br>
            {{form.comment(cols="80", rows="5")}}

        </p>
        <p>
            Штрихкод (только цифры) <br>
            {{form.barcode(size=69)}}
        </p>
        <p>
            Изменить изображние <br>
            {{ form.image }}
        </p>

        
        <p>
            <input type="submit" name="submit" value="Сохранить" onclick="return confirm('Применить?!')"/>
            <input type="submit" name="submit" value="Удалить" onclick="return confirm('Применить?!')"/>
        </p>
    </form>
    </div>
    <div id=image>
        <img src="{{url_for('static', filename=spare.img) }} " width="350" height="350"></p>


    </div> 


{% endblock %}